Workspaces/Demo_Engineering/Education/Arbor/DP-Arbor-RawIngest.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Lookup",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "sqlReaderQuery": "SELECT *\nFROM edu.arbor_ingest_metadata\nWHERE data_classification = 'Interventions'",
            "partitionOption": "None"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "connectionSettings": {
              "name": "dae601e1_1c3e_4d3f_9983_366eda0b9eee",
              "properties": {
                "annotations": [],
                "type": "Lakehouse",
                "typeProperties": {
                  "workspaceId": "@pipeline().libraryVariables.STORE_WORKSPACE_ID",
                  "artifactId": "@pipeline().libraryVariables.BASE_LH_ID",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "872d955f-06db-4b57-97d8-0ab90fa63cd4"
                }
              }
            },
            "type": "LakehouseTable",
            "schema": [],
            "typeProperties": {}
          }
        }
      },
      {
        "name": "ForEach",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Lookup",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "Copy to Raw",
              "type": "Copy",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "source": {
                  "type": "SnowflakeSource",
                  "query": {
                    "value": "@item().source_sql",
                    "type": "Expression"
                  },
                  "exportSettings": {
                    "type": "SnowflakeExportCopyCommand"
                  },
                  "datasetSettings": {
                    "annotations": [],
                    "type": "SnowflakeTable",
                    "schema": [],
                    "typeProperties": {
                      "database": {
                        "value": "@item().source_database",
                        "type": "Expression"
                      }
                    },
                    "externalReferences": {
                      "connection": "c8ebb544-13f5-47e8-9f62-1c7d127c221b"
                    }
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "OverwriteSchema",
                  "partitionOption": "None",
                  "applyVOrder": true,
                  "datasetSettings": {
                    "annotations": [],
                    "connectionSettings": {
                      "name": "0f23d809_ddc7_4fbf_81d3_60dd27cda1a7",
                      "properties": {
                        "annotations": [],
                        "type": "Lakehouse",
                        "typeProperties": {
                          "workspaceId": "@pipeline().libraryVariables.STORE_WORKSPACE_ID",
                          "artifactId": "@pipeline().libraryVariables.RAW_LH_ID",
                          "rootFolder": "Tables"
                        },
                        "externalReferences": {
                          "connection": "872d955f-06db-4b57-97d8-0ab90fa63cd4"
                        }
                      }
                    },
                    "type": "LakehouseTable",
                    "schema": [],
                    "typeProperties": {
                      "schema": {
                        "value": "@item().destination_schema",
                        "type": "Expression"
                      },
                      "table": {
                        "value": "@item().destination_table",
                        "type": "Expression"
                      }
                    }
                  }
                },
                "enableStaging": true,
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                }
              }
            }
          ]
        }
      }
    ],
    "libraryVariables": {
      "STORE_WORKSPACE_ID": {
        "type": "String",
        "variableName": "STORE_WORKSPACE_ID",
        "libraryName": "VL_CORE"
      },
      "RAW_LH_ID": {
        "type": "String",
        "variableName": "RAW_LH_ID",
        "libraryName": "VL_CORE"
      },
      "BASE_LH_ID": {
        "type": "String",
        "variableName": "BASE_LH_ID",
        "libraryName": "VL_CORE"
      }
    }
  }
}